
/*---Titre et sous-titre---*/
.titreairbnb {
	color: pink;
	font-family: 'Circular', sans-serif;
	color: rgb(255,88,98);
}

.ui.grey.header {
	font-size: 40px;
	/*font-family: 'Lato', sans-serif;*/
	font-weight: 100;
	font-family: 'Circular', sans-serif;
}

/*---Logo---*/
.logo {
	max-width: 50px;
	height: auto;
}

.ui.right.floated.horizontal.link.list {
	font-family: 'Circular', sans-serif;
}

/*LUCY*/
.black{
	color: black;
}
.blue{
	border-right: 1px solid lightgrey;
}

.color{
	background-color: rgb(255,88,98);
}

.rbutton {

  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;

  font-size: 19px;

  line-height: 15px;

  padding-top: 0px;

  padding-bottom: 0px;

  color: #ffffff;

  padding-right: 18px;

  padding-left: 18px;

  border-radius: 4px;

  border: 0px;

  background: #FF5A5F;

  margin: 12px;

  height: 48px;

  text-align: center;

  display: inline-block;

  white-space: nowrap;

}

/* CSS Experience Part Amine */

* {
  box-sizing: border-box;
}

html {
}

#experiencestitle {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 28px;
  padding-left: 184px;
  color: #484848;
}

.experiencestitle {
  display: flex;
  justify-content: space-between;
}

#experiences {
  display: inline-block;
}

#logements {
  display: inline-block;
}

#tokyosubtitle1 {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  line-height: 18px;
  color: rgb(160, 61, 12);
}

#berlinsubtitle1 {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  line-height: 18px;
  color: rgb(250, 187, 13);
}

#barcelonesubtitle1 {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  line-height: 18px;
  color: rgb(3, 72, 101);
}

#parissubtitle1 {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  line-height: 18px;
  color: rgb(88, 169, 231);
}

.generalexperiences {
  text-align: center;
}

#subtext1 {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  line-height: 18px;
  color: #484848;
}

#cost1 {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 13px;
  font-weight: lighter;
  text-align: left;
  line-height: 18px;
}

#grad0 {
  text-align: left;
}

#plus {
  padding-right: 186px;
}

/* CSS Experience Part Amine END */
