
/*---Titre et sous-titre---*/
.titreairbnb {
	color: pink;
	font-family: 'Circular', sans-serif;
	color: rgb(255,88,98);
}

.ui.grey.header {
	font-size: 40px;
	/*font-family: 'Lato', sans-serif;*/
	font-weight: 100;
	font-family: 'Circular', sans-serif;
}

/*---Logo---*/
.logo {
	max-width: 50px;
	height: auto;
}

.ui.right.floated.horizontal.link.list {
	font-family: 'Circular', sans-serif;
}

/*LUCY*/
.black{
	color: black;
}
.blue{
	border-right: 1px solid lightgrey;
}

.color{
	background-color: rgb(255,88,98);
}

.rbutton {

  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;

  font-size: 19px;

  line-height: 15px;

  padding-top: 0px;

  padding-bottom: 0px;

  color: #ffffff;

  padding-right: 18px;

  padding-left: 18px;

  border-radius: 4px;

  border: 0px;

  background: #FF5A5F;

  margin: 12px;

  height: 48px;

  text-align: center;

  display: inline-block;

  white-space: nowrap;

}

